  <!-- Cover -->
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <!-- <img src="img/coverText.png" class="coverText"> -->
            <%= image_tag ('coverText.png'), class: 'coverText' %>
            <p class="majorTitle">Working with Us</p>
            <p class="minorTitle">連接全台灣<br class="breakShowXS"/>校內校外資源<br/>
            創造每位大學生的共享價值</p>
            <!-- <img src="img/coverIconDown.png" class="coverIcon"> -->
            <%= image_tag ('coverIconDown.png'), class: 'coverIcon' %>
          </div>
        </div>
      </div>
    </div>

  <!-- Colorgy Team Introduction -->
    <div class="container-fluid introBlock">
      <div class="row introBlockRow">
        <div class="col-sm-12">
          <!-- <img src="img/header_logo_white.png" class="introImage"> -->
          <%= image_tag ('header_logo_white.png'), class: 'introImage' %>
        </div>
        <div class="col-sm-12 introText">
          <p>我們希望，在台灣每位大學生都能擁有自己精彩的校園生活。透過網際網路的力量、我們和來自全台各地的夥伴一同努力。Colorgy 平台，就是大家共同努力完成的創作。</p>
          <p>在這條夢想的路上，我們永遠需要更多志同道合的夥伴；而千里馬遍尋不著的伯樂，就是身在螢幕闌珊處的你。歡迎你／妳的加入，讓 Colorgy 平台能夠繼續向前邁進！</p>
        </div>
      </div>
    </div>

  <!-- Working Pros -->
    <div class="container-fluid prosBlock">

      <div class="row prosBlockRow prosBlockTitleRow">
        <div class="col-xs-12 prosTitle">
          <p>「加入 Colorgy 的好處」</p>
          <!-- <img src="img/coverIconDown.png" class="prosLeadIcon"> -->
          <%= image_tag ('coverIconDown.png'), class: 'prosLeadIcon' %>
        </div>
      </div>

      <div class="row prosBlockRow">
        <div class="col-sm-6 prosImage1"></div>
        <div class="col-sm-6 prosText">
          <p class="prosTextLead">多元面貌的團隊</p>
          <p>草帽海賊團有船長、廚師、製圖師、船醫、發明家與音樂家，而 Colorgy 團隊有前後端全能工程團隊、超強行銷業務團隊、平面 / UI 設計師兼唯一女神、四隻辦公室寵物，以及一群瘋起來不償命的熱血青年。在這裡，你能夠看見最多元的思想，激盪出最鮮明的火花！</p>
        </div>
      </div>

      <div class="row prosBlockRow">
        <div class="col-sm-6 col-sm-push-6 prosImage2"></div>
        <div class="col-sm-6 col-sm-pull-6 prosText">
          <p class="prosTextLead">自由的工作環境</p>
          <p>沒有上下班的打卡鐘，因為我們充分相信每個成員。沒有過多的行政手續，因為我們喜歡直接處理問題。沒有冗長的每日會議，因為僅只是「為開會而開會」將消磨所有人的創造力。沒有限定的辦公座位，因為團隊成員的交流、才能凝聚彼此的向心力。</p>
        </div>
      </div>

      <div class="row prosBlockRow">
        <div class="col-sm-6 prosImage3"></div>
        <div class="col-sm-6 prosText">
          <p class="prosTextLead">相互學習與成長</p>
          <p>年輕人最好的本錢是時間，因為我們可以盡情地學習。Colorgy 工作室的夥伴除了自身技能的精進之外，我們也會鼓勵所有人學習自己的興趣或專長。你可以成為一名專家，更可以成為一名通曉各項領域的人才。</p>
        </div>
      </div>

      <div class="row prosBlockRow">
        <div class="col-sm-6 col-sm-push-6 prosImage4"></div>
        <div class="col-sm-6 col-sm-pull-6 prosText">
          <p class="prosTextLead">打造最強的服務</p>
          <p>Colorgy APP 專注活躍於大學生的校園之間，已是每位學生的校園生活小幫手。你的協力創作，將會帶給大學校園持續不斷的驚喜！</p>
        </div>
      </div>

    </div>

    <!-- Workplace Benefits -->
    <div class="container-fluid benefitBlock">
      <div class="row benefitBlockRow">
        <div class="col-sm-4 benefitText1">
          <h2>自由環境</h2>
          <p>工作時間無硬性規定、可自由調配，只要我們能找到你，全世界都是你的辦公區。</p>
        </div>

        <div class="col-sm-4 benefitText2">
          <h2>勞保薪資</h2>
          <p>所有在 Colorgy 團隊的專職工作者都享有勞保、勞退等福利制度保障。</p>
        </div>

        <div class="col-sm-4 benefitText3">
          <h2>優質空間</h2>
          <p>沒在關的零食櫃 + 遊戲滿載的 XBOX + 各領域書籍讀物區 + 交通方便的地點。</p>
        </div>

      </div>
    </div>


    <!-- Jobs Introduction -->
    <div class="container-fluid jobBlock">

      <div class="row jobRow">
        <div class="col-sm-4 jobCol">
          <div class="jobImageLayer jobImageLayer1">
          	<div class="mask"></div>
            <div class="jobInfo">
              <h2 class="jobInfoTitle">Junior JavaScript Developer</h2>
              <p>【薪資範圍】<br/>
              35,000 - 60,000 依能力面議</p>
              <p>【工作目標】<br/>
              揮灑專業與創意，創造出體驗極佳的網頁、APP</p>
              <p>【基本需求】<br/>
              有責任感、樂於溝通、熟悉 JavaScript + React.js（or Angular.js）等前端框架、看到別人喜歡自己的網站／ APP 會很爽</p>
              <p>【加分條件】<br/>
              熟悉 React Native or Node.js／有 Socket.io 開發經驗／熟悉 Git、Git Flow、Interactive Rebase／備作品集／有接案 or 業界工作經驗</p>
            </div>
            <div class="defaultCoverText">
	            <h2>Junior JavaScript Developer</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-4 jobCol">
          <div class="jobImageLayer jobImageLayer2">
          	<div class="mask"></div>
            <div class="jobInfo">
              <h2 class="jobInfoTitle">Junior Rails Developer</h2>
              <p>【薪資範圍】<br/>
              35,000 - 60,000 依能力面議</p>
              <p>【工作目標】<br/>
              揮灑專業與創意，創造出體驗極佳的網頁、APP</p>
              <p>【基本需求】<br/>
              有責任感、樂於溝通、熟悉 Ruby on Rails + JavaScript、看到別人喜歡自己的作品會很爽</p>
              <p>【加分條件】<br/>
              備作品集／有接案 or 業界工作經驗／熟悉 Git</p>
            </div>
            <div class="defaultCoverText">
	            <h2>Junior Rails Developer</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-4 jobCol">
          <div class="jobImageLayer jobImageLayer3">
          	<div class="mask"></div>
            <div class="jobInfo">
              <h2 class="jobInfoTitle">Junior iOS Developer</h2>
              <p>【薪資範圍】<br/>
              35,000 ~ 60,000 （或者你認為應該可以更高，歡迎面議）</p>
              <p>【工作目標】<br/>
              跟我們一起打造一個最佳體驗的 iOS APP、全新產品開發、架上產品更新 & 維護。</p>
              <p>【基本需求】<br/>
              一年以上Swift、Objective-C開發經驗（熟悉其中一種即可，Swift為佳）/ 熟悉 Git
              </p>
              <p>【加分條件】<br/>
							有上架作品、經驗<br>
							Unit testing<br>
							React / React Native<br>
							Cocoa pods / Carthage<br>
							Sketch
							</p>
            </div>
            <div class="defaultCoverText">
	            <h2>Junior iOS Developer</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row jobRow">
        <div class="col-sm-4 jobCol">
          <div class="jobImageLayer jobImageLayer5">
          	<div class="mask"></div>
            <div class="jobInfo">
              <h2 class="jobInfoTitle">Junior Android Developer</h2>
              <p>【薪資範圍】<br/>
              35,000 ~ 60,000 （或者你認為應該可以更高，歡迎面議）</p>
              <p>【工作目標】<br/>
              跟我們一起打造一個最佳體驗的 Android APP、全新產品開發、架上產品更新 & 維護。</p>
              <p>【基本需求】<br/>
              一年以上 JAVA、android 開發經驗 / 熟悉 git</p>
              <p>【加分條件】<br/>有上架作品、經驗<br>React / React Native</p>
            </div>
            <div class="defaultCoverText">
	            <h2>Junior Android Developer</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-4 jobCol">
          <div class="jobImageLayer jobImageLayer4">
          	<div class="mask"></div>
            <div class="jobInfo">
              <h2 class="jobInfoTitle">Ruby on Rails Intern</h2>
              <p>【薪資範圍】<br/>
              依能力面議</p>
              <p>【你將學到】<br/>
              使用世界級網頁語言 Ruby On Rails 開發爬蟲程式、網站</p>
              <p>【基本需求】<br/>
              有責任感、樂於溝通、學習決心旺盛、熟悉基本程式語言邏輯 (if、else、while...)、使用過任一網頁語言寫過專案</p>
              <p>【加分條件】<br/>
              了解基礎 Ruby 語法／有接案 or 實習 or 工作經驗／備作品集</p>
            </div>
            <div class="defaultCoverText">
	            <h2>Ruby on Rails Intern</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-4 jobCol">
          <div class="jobImageLayer jobImageLayer10">
          	<div class="mask"></div>
            <div class="jobInfo">
              <h2 class="jobInfoTitle">Senior Rails Developer</h2>
              <p>【薪資範圍】<br/>
              依能力面議</p>
              <p>【基本需求】<br/>
              兩年以上 Rails 開發經驗、Rails performance tuning、熟悉 RESTful JSON API、具 Web API for Android or iOS 開發經驗、熟悉 Git Version Control、熟悉 Mac/Linux 系統與環境操作指令、熟悉撰寫測試程式（Rspec）、熟悉 AWS 架構以及完整佈署專案之能力</p>
              <p>【加分條件】<br/>熟悉前端 Javascript、React.js 及基本 SASS、Bootstrap 用法／有金流、支付軟體相關開發經驗／熟悉一種以上的設計模式及軟體開發模型／Mac OS X 系統使用者／有專案管理經驗、願意提點 Junior 工程師</p>
            </div>
            <div class="defaultCoverText">
	            <h2>Senior Rails Developer</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row jobRow">
        <div class="col-sm-4 jobCol">
          <div class="jobImageLayer jobImageLayer7">
          	<div class="mask"></div>
            <div class="jobInfo">
              <h2 class="jobInfoTitle">活動牆總編輯</h2>
              <p>【薪資範圍】<br/>
              依能力面議</p>
              <p>【工作目標】<br/>
              訂定文章主題、篩選文章、找寫文章的人、寫文章。總而言之，管理全台灣學生最近要看什麼內容的人。</p>
              <p>【基本需求】<br/>
              附上實際經驗告訴我們你足以勝任，也許是新聞系、也許當過編輯等等。</p>
              <p>【加分條件】<br/>
              對時事敏感、對人敏感、有責任感、善於溝通、有幽默感</p>
            </div>
            <div class="defaultCoverText">
	            <h2>活動牆總編輯</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-4 jobCol">
          <div class="jobImageLayer jobImageLayer8">
	        	<div class="mask"></div>
            <div class="jobInfo">
              <h2 class="jobInfoTitle">Junior E-commerce Marketing Project</h2>
              <p>【薪資範圍】<br/>
              依能力面試 (高獎金 + 高優先認股權)</p>
              <p>【工作目標】<br/>
							1. 分析適合 Colorgy 推廣之商品 & 規劃校園電商<br/>
							2. 規劃大專院校學生電子商務團購 or 閃購活動企劃 & 分析<br/>
							3. 協助Manager管理學生合作單位 & 協調異業合作模式<br/>
							</p>
              <p>【基本需求】<br/>
							1.在學期間有接觸過 電子商務 or 團購 or 經營過 拍賣或商城者為佳<br>
							2.了解學生購物行為 or 實際操作過學生團體購物者(學生團購 / 學生採買皆可)<br>
							3.1~2年社團經驗為佳，有參與過學生開學採購者為佳<br>
							</p>
              <p>【加分條件】<br/>對學生團購熟悉、對人敏感、崇尚團隊精神、有責任感、善於溝通、有幽默感</p>
            </div>
            <div class="defaultCoverText">
	            <h2>Junior E-commerce Marketing Project</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-4 jobCol">
          <div class="jobImageLayer jobImageLayer9">
          	<div class="mask"></div>
            <div class="jobInfo">
              <h2 class="jobInfoTitle">Senior E-commerce Manager</h2>
              <p>【薪資範圍】<br/>
              依能力面試 (高獎金 + 高優先認股權)</p>
              <p>【工作目標】<br/>
							1. 分析適合 Colorgy 推廣之商品 & 規劃校園電商<br>
							2. 負責實體或網路店家以及學校單位，進行招商。<br>
							3. 供應鏈店家名單開發、電話拜訪以及約定拜訪。<br>
							4. 達成每月的招商目標 & 銷售業績目標。<br>
							</p>
              <p>【基本需求】<br/>
							1.在學期間有接觸過 電子商務 or 團購 or 經營過 拍賣或商城者為佳<br>
							2.了解學生購物行為 or 實際操作過學生團體購物者(學生團購 / 學生採買皆可)<br>
							3.1~2年工作經驗者 or 目前正在經營相關業務者為佳<br>
							</p>
              <p>【加分條件】<br/>對供應鏈熟悉、對人敏感、崇尚團隊精神、有責任感、善於溝通、有幽默感</p>
            </div>
            <div class="defaultCoverText">
	            <h2>Senior E-commerce Manager</h2>
            </div>
          </div>
        </div>
      </div>

    <div class="row jobRow">
      <div class="col-sm-4 col-sm-offset-4 jobCol">
          <div class="jobImageLayer jobImageLayer6">
            <div class="mask"></div>
            <div class="jobInfo">
              <h2 class="jobInfoTitle">有梗有料行銷小編</h2>
              <p>【薪資範圍】<br/>
              依能力面議</p>
              <p>【工作目標】<br/>
              想行銷策略與規劃、跟我們一起想出（或找人寫出）超有梗可以引發話題的文章</p>
              <p>【基本需求】<br/>
              有實際行銷經驗及相關知識（自學或修課皆可）、運用文字能力強、有責任感，能處理重複性高的日常事務、樂於溝通、有幽默感</p>
              <p>【加分條件】<br/>備作品紀錄／寫過不錯的文章／能寫有梗也能寫溫馨女孩文</p>
            </div>
            <div class="defaultCoverText">
              <h2>有梗有料行銷小編</h2>
            </div>
          </div>
      </div>
    </div>

    </div> <!-- /Job Introduction -->

    <!-- Footer Navbar -->
    <footer class="footer">
      <div class="container">
        <p class="footerText">「踏上一條自己選擇的路，<br class="breakShowXS"/>讓我們陪你一同前進。」<br class="breakShow"/>
        <a href="https://colorgy.typeform.com/to/C62uSQ" target="_blank"><span class="footerButton">
          Apply Now
        </span></a></p>

      </div>
    </footer>

